<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path, class: "navbar-brand" do%>
    <img src="https://res.cloudinary.com/dk5b5onpr/image/upload/v1639764295/logo_n3ulum.png" alt="logo" class="logo">
  <% end  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Camisetas", class: "nav-link" %>
          </li>
        </div>
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Sudaderas", class: "nav-link" %>
          </li>
        </div>
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Polos", class: "nav-link" %>
          </li>
        </div>
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Ropa Tecnica", class: "nav-link" %>
          </li>
        </div>
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Ropa Laboral", class: "nav-link" %>
          </li>
        </div>
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Accesorios", class: "nav-link" %>
          </li>
      </ul>
    </div>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link filippo" %>
    <%= link_to "", destroy_user_session_path, class: "nav-link fas fa-shopping-cart" %>
  <% else %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Camisetas", class: "nav-link" %>
          </li>
        </div>
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Sudaderas", class: "nav-link" %>
          </li>
        </div>
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Polos", class: "nav-link" %>
          </li>
        </div>
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Ropa Tecnica", class: "nav-link" %>
          </li>
        </div>
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Ropa Laboral", class: "nav-link" %>
          </li>
        </div>
        <div class="box">
          <li class="nav-item active">
            <%= link_to "Accesorios", class: "nav-link" %>
          </li>
        </div>
      </ul>
    </div>
    <%= link_to "Login", user_session_path, class: "nav-link", class: "nav-link filippo" %>
    <%= link_to "", user_session_path, class: "nav-link fas fa-shopping-cart" %>
  <% end %>
</nav>
