<div class="product-page">
  <div class="product-left">

    <div class="product-description">
      <h1><%= @product.name %></h1>
      <h2><%= @product.description %></h2>
      <p>sku: <%= @product.sku %></p>
    </div>

    <div class="product-colors">
      <% @product.product_colors.each_with_index do |product_color, index| %>
        <% if index == 0 %>
          <button class="tablinks-cus btn-dashboard-new-secondary" onclick="openTab(event, '<%= index %>')" id="tab-cus-active" ><%= product_color.color.name %></button>
          <div id="<%= index %>" class="tabcontent-cus campaigns ">
            <img src="<%= product_color.link %>" alt="<%= @product.name %>" id="photo">
          </div>
        <% else %>
          <button class="tablinks-cus btn-dashboard-new-secondary" onclick="openTab(event, '<%= index %>')"><%= product_color.color.name %></button>
          <div id="<%= index %>" class="tabcontent-cus campaigns ">
            <img src="<%= product_color.link %>" alt="<%= @product.name %>" id="photo">
          </div>
        <% end  %>
      <% end %>
    </div>

    <div class="personalizacion">
      <p>serigrafia</p>
      <input type="checkbox" id="serigrafia" value="no">
    </div>

    <div class="price-caluculator">
      <div class="price-input">
        <input type="number" name="quantity" id="quantity">
      </div>
      <div class="prices">
        <h3>desde <strong id="total-price"> <%= @product.product_prices.last.price %></strong> € | <strong id="unit-price"><%= @product.product_prices.last.price %></strong> €/unidad</h3>
        <p><strong id="iva-price"><%= @product.product_prices.last.price * 1.21 %></strong> € incl. IVA</p>
      </div>
    </div>

    <% @product.front_personalizacions.each do |pers| %>
      <p><%= pers.personalizacion.name %></p>
    <% end %>
  </div>

  <div id="pricesss" data-prices="<%= @prices.to_json %>" >
  </div>
</div>
